<config>
    <!-- live, dev, local -->
    <environment>local</environment>
    <!-- true, false -->
    <debug>true</debug>
    <net>
        <timeOut>120</timeOut>
        <numOfConnection>1000</numOfConnection>
    </net>
    <db>
        <live>
            <host></host>
            <port>3306</port>
            <dbName></dbName>
            <user></user>
            <password></password>
            <numOfConnection>1000</numOfConnection>
        </live>
        <dev>
            <host></host>
            <port>3306</port>
            <dbName></dbName>
            <user></user>
            <password></password>
            <numOfConnection>100</numOfConnection>
        </dev>
        <local>
            <host></host>
            <port>3306</port>
            <dbName></dbName>
            <user></user>
            <password></password>
            <numOfConnection>100</numOfConnection>
        </local>
    </db>
    <redis>
        <live>
            <host></host>
            <port>6379</port>
            <user></user>
            <password></password>
            <numOfConnectionMinimum>100</numOfConnectionMinimum>
            <numOfConnectionMaximum>1000</numOfConnectionMaximum>
        </live>
        <dev>
            <host>127.0.0.1</host>
            <port>6379</port>
            <user></user>
            <password></password>
            <numOfConnectionMinimum>100</numOfConnectionMinimum>
            <numOfConnectionMaximum>1000</numOfConnectionMaximum>
        </dev>
        <local>
            <host></host>
            <port>6379</port>
            <user></user>
            <password></password>
            <numOfConnectionMinimum>10</numOfConnectionMinimum>
            <numOfConnectionMaximum>100</numOfConnectionMaximum>
        </local>
    </redis>
</config>